* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f3f2;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
}

.card {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
  position: absolute;
}

h1 {
  font-size: 2.5rem;
  color: #ad2020;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  color: #560909;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  gap: 20px;
}

button {
  background-color: #ad2020;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
}

button:hover {
  background-color: #560909;
}

#response {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #560909;
}
